.container{
    padding: 0 0.75rem;
    max-width: 850px;
    margin: 0 auto;
    /* height: 689px; */
  }
  .container_wide{
    max-width: 56.2rem;
    position: relative;
    z-index: 2;
  }
.block02__row{
  margin: 0 -0.75rem;
}
  .Block03__row,
  .block04__row,
  .block05__row,
  .block06__row,
  .blook07__row,
  .block08__row,
  .block09__row {
    margin: 0 -0.75rem;
    overflow: hidden; 
  }  


.block01__tel,
 .block01__mail,
 .block01__address, 
 .block01__call {
   margin-right: 2.65rem;
   
 }
 .block02{
  overflow: hidden; 
   margin-bottom: 5.85rem;
 }
 