.popup{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: 0.75rem;
    background-color: rgba(51, 51, 51, 0.54);
    padding: 1.55rem;

}
.hidden{

}
.popup__form{
   position: relative;
    background-color: #fff;
    max-width: 28rem;
    max-height: 17rem;
    margin: 8rem auto;
    border-radius: 2.5rem;
    padding: 2rem;
  }
  .popup__label{
    position: relative;
    background: #DEDEDE;
    border-radius: 0.25rem;
    display: block;
    transition: 0.2s;
    width: 17.2rem;
    margin: 1rem;
    height: 1.85rem;
  }
  .popup__input{
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0.3rem 0.35rem;
  }
  .popup__text{
    position: absolute;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3;
    color: #A1A1A1;
    
  }
  .popup__text-name{
    top: 0.6rem;
    left: 0.8rem;
    transition: 0.2s;
  }
  .popup__button > input{
    background: #A3CC40;
    width: 17.25rem;
    border: 1px solid #A3CC40;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
    padding: 0.7rem 0;
    text-align: center;
    
  }
  .popup__button-exit{
    width: 1.55rem;
    height: 1.55rem;
    border-radius: 50%;
    background-color: #BEE956;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    transition: .1s linear;
    display: inline-block;
  }
  .popup__button-exit svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 0.85rem;
  height: 0.85rem;
  }
  .popup__button-exit:hover{
    background: #fff;
    border-color: #BEE956;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #A3CC40;
  }
  .popup__button-exit:hover svg{
    fill: #BEE956;
    color: #BEE956;
    stroke: #BEE956;
    box-shadow:  0.75rem 1.35rem 1.95rem rgba(48, 63, 11, 0.18);  
  }

